.signUp {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-image: url('./signup.svg');
    background-size:75%;
    background-color: var(--main-white);
    
  }
  
  .signUp-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
  }
  
  .signUp-form {
    width: 80%;
    margin: auto;
    height:90%;
   
  }
  
  .signUp-title {
    font-size: 4vw;
    text-align: center;
    font-weight: 600;
    color: var(--main-dark);
  }
  
  .signUp-form-fields {
    width: 70%;
    margin: auto;
    padding: 10px;
  }
  
  .signUp-nameFields {
    display: flex;
    justify-content: space-between;
  }
  
  .form-label {
    position: relative;
    top: 0px;
    left: 10px;
    background-color: clear;
    width: 50%;

  }
  

  
  .firstName-field {
    margin-right: 10px;
    width: 50%;
  

  }
  
  .lastName-field {
    margin-left: 10px;
    width: 50%;
  }
  
  .field {
   
    width: 100%;
    outline: none;
    padding-left: 10px;
    font-size: 1.2rem;
    height: 45px;
    border: 1px solid #96a3aa;
    border-radius: 10px;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
  }

  .submit-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .register-button {
    outline:none;
    margin-top: 20px;
    border-radius: 60px;
    background-color:var(--main-color) ;
    font-size:20px;
    padding:15px;
    width:80%;
    color: white;
    border:none;
  }

  
  .register-button:enabled:hover{
    background-color:#4d91e6;
    cursor:pointer;
    outline:none;
  
  }
  .register-button:active{
    background-color:#547baa;
    cursor:pointer;
    outline:none;
  }
  .signUp-form h1{
    margin-bottom:15px;
  }
  .register-button:disabled{
    opacity: 0.5;
    cursor:default;
  }
  .field-Error {
    width: 100%;
    outline: none;
    padding-left: 10px;
    font-size: 1.2rem;
    height: 50px;
    border: 1px solid red;
    border-radius: 10px;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
  }
  
 .signup-error-message{
   color:red;
   margin-left: 10px;
   font-size:12px;
 }
.email-field{
  margin-bottom:5px;
  margin-top:10px;
}
.password-field, .location-field{
  margin-top: 10px;
}
