.todoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 15% 8% 1fr;
  width: 50%;
  row-gap: 0px;

  background: linear-gradient(#107af47c, #00bafd85, white);
  height: 50vh;
  margin-bottom: 30px;
}

.toDoName {
  grid-row: 1/2;
  grid-column: 1/4;
  padding-left: 10%;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 20px;
  color: white;
  font-size:1.5vw;
  font-family: "Oxygen", sans-serif;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: linear-gradient(to right, #107bf4, #00bafd85);
}

.toDoInputsContainer {
  grid-row: 2/3;
  margin-top: 0px;
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right, #107bf4, #00bafd67);
}

.taskButtons {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  grid-row: 3/4;
  grid-column: 1/4;
  margin: 0px;
  padding: 0px;
}

.taskButton {
  outline:none;
  width: calc(100%/3);
  height: 100%;
  color: white;
  background-color: black;
  margin: 0px;
  padding: 0px;
  border: 1px solid grey;
  border-top: 0px;
  border-bottom: 0px;
  outline:none;
}

.taskForm {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 65%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.taskInput {
  font-size:1.2vw;
  outline:none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-color: black;

  width: 100%;
  border-right-color: grey;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: white;
}

.taskInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity:0.8;
  /* Firefox */
}

.taskInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  opacity:0.8;
}

.taskInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  opacity:0.8;
}

.taskBTNContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}
.taskBTN {
  
  height: 100%;
  width: 15%;
  border-left-color: white;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.85);
  border: black;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 180%;
}
.taskBTN:hover{
  cursor: pointer;
  background-color: rgba(26, 25, 25, 0.85);
}
.taskBTN:active{
  background-color: rgba(10, 10, 10, 0.85);
}
.dateInput {
  padding:10px;
  font-size:1vw;
  outline:none;
  width: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 16px;
  border-color: black;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
/* .btnLeft {
  border: 2px solid white;
  border-right-color: 4px solid white;
}

.btnMiddle {
  border-right-color: 4px solid white;
  border-left-color: 4px solid white;
}

.btnRight {
  border-right-color: 4px solid white;
} */

.taskButton.isActive {
  color: black;
  background-color: #e6e9ec;
}
.taskButton.isActive:hover {
  color: black;
 
  background-color: #e6e9ec;
}
.taskButton:hover{
  cursor:pointer;
  background-color:rgb(22, 22, 22);
}
.toDoFeed {
  grid-row: 4/5;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: #cec8c84f;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.toDoFeed::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.toDoFeed::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;

  margin-bottom: 20px;
}

/* Handle */
.toDoFeed::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.toDoFeed::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.task {
  border-radius: 12px;
  background-color: rgb(17, 17, 17);
  display: grid;
  grid-template-columns: 20% 1fr 15%;
  grid-template-rows: 40% 1fr;
  grid-row-gap: 14px;
  color: var(--main-color);
  width: 65%;
  height: 50px;
  padding-bottom: 10px;
  padding-top:5px;
  margin-bottom: 10px;
}

.taskName {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: start;
  align-items: start;
  margin-top: 12px;
 
  color: var(--main-secondary);
}

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row: 1/3;
  grid-column: 1/2;
}
.circle {
  cursor:pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height:50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}

.checkIcon {
  color: white;
  font-size: 20px;

}

.circle.checked {
  background-color: rgb(106, 215, 248);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.taskDueDate {
  grid-row: 2/3;
  grid-column: 2/3;
}

.trashIcon {
  cursor:pointer;
  grid-row: 1/3;
  grid-column: 3/4;
  color: rgb(190, 185, 185);
  text-align: center;
  align-self: center;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .todoContainer {
    width: 100%;
    height: 80vh;
    margin-top: 0;
    padding-top: 0;
  }
}
