.about {
  display: flex;
  flex-direction: column;
  background-color: var(--main-white);
}
.prize-image{
  margin-top: 50px;
}

.main-title{
  color: var(--main-dark);
}
.explanation-container{
  margin-top:30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  height: auto;
  
}
.hook-section {
  margin-top:30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  height: auto;
}

.blueLine {
  width: 100%;
  background-color: var(--main-color);
  height: 5px;
}

.sloganText {
  margin-top: 20px;
  
}
.about-Container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
  height: auto;
  
}

.about-title {
  font-weight: bold;
  justify-self: start;
  align-self: start;
  color: var(--main-dark);
}

.edufyDef {
  margin-top: 30px;
  font-size: 20px;
}

.prize-image img{
  width:100%;
}
p{
  max-width: 100%;
}
.directions {
  display: grid;
  padding: 0 10%;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  height: 40vh;
  margin-bottom: 100px;
}

.circleDir {
  border-radius: 50%;
  width: 105px;
  height: 105px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.dirContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
 
}

.dirSmall {
  font-size: 35px;
  display: flex;
  width: auto;
  height: 105px;
  margin-top:40px;
}

.footer {
  height: 30%vh;
 
  background-color:var(--main-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container, .banner-container {
  margin: 0 5%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerLogo {
  height: 48px;
  width: auto;
}

.join-button{
  border-radius: 60px;
  background-color:var(--main-color) ;
  font-size:25px;
  padding: 10px;
  padding-left:60px;
  padding-right:60px;
  color: white;
  border:none;
}
.join-button:hover, .footer-button:hover{
  background-color:#4d91e6;
  cursor:pointer;
  outline:none;

}
.join-button:focus, .footer-button:focus{
  background-color:#547baa;
  cursor:pointer;
  outline:none;
}

.footer-button{
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 60px;
  font-size:25px;
  padding: 10px;
  padding-left:60px;
  padding-right:60px;
  background-color:var(--main-color) ;
  color: white;
  border:none;
}
.footerTitle{
  margin-top:30px;
}

.bannerTitle{
  color: white;
  font-size: 50px;
}

.banner{
  height: 50vh;
  background-image:  linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ), url('./img/cover.jpg') ;
  background-size: 100%;
  background-position:center;
  display: flex;
  background-color:var(--main-secondary);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;

}

