.productivityPage {
  
  
}

.shadow {
  box-shadow: 0px 0px 13px #004daa;
}

.darkShadow {
  box-shadow: 0px 0px 4px black;
}

.lightShadow {
  box-shadow: 0px 0px 4px rgb(156, 138, 138);
}

.templateBG {
  background-color: var(--main-secondary);

  border-radius: 25px;

  color: var(--main-white);
}

.row {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0 40px;
}

.lostPopUp {
  
  position: absolute;
  padding-bottom:20px;
  left: 0; 
  right: 0; 
  padding-top: 10px;
  padding-left: 20px;
  padding-right:20px;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  color: rgb(233, 233, 233);
  background: black;
  border-radius: 12px;
  text-align:left;

  width: 290px;
}

.lostPopUp-header{
  display: flex;
  flex-direction: row;
}
.brokenHeartIcon {
  margin-top: 25px;
  margin-right: 15px;
  color: red;
  font-size: 200%;

}

.darkOverLay {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.787);
  height: 100vh;
  position: absolute;
  z-index: 3;
}
.darkOverLay.hide {
  visibility: hidden;
}
.close-button:hover{
  background-color:#4d91e6;
  cursor:pointer;
  outline:none;

}
.close-button {
  outline:none;
 
  border-radius: 60px;
  background-color:var(--main-color) ;
  font-size:20px;
  padding:5px;
  
  color: white;
  border:none;
}
.close-button:active{
  background-color:#547baa;
  cursor:pointer;
  outline:none;
}
@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
