.productivityPage {
  /* display: grid;
  grid-template-rows: 35vh 35vh;
  grid-template-columns: 42% 45%;
  row-gap: 30px;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 30px;
  column-gap: 30px; */
}

.shadow {
  box-shadow: 0px 0px 13px #004daa;
}

.darkShadow {
  box-shadow: 0px 0px 4px black;
}

.lightShadow {
  box-shadow: 0px 0px 4px rgb(156, 138, 138);
}

.templateBG {
  background-color: var(--main-secondary);

  border-radius: 25px;

  color: var(--main-white);
}

.row {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 0 40px;
}

.lostPopUp {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  position: absolute;
  width: 40%;
  color: rgb(233, 233, 233);
  height: 55px;
  background: rgb(0, 0, 0);
  border-radius: 12px;
  z-index: 5;

  width: 270px;
}

.lostPopUp.show {
  visibility: visible;
}

.brokenHeartIcon {
  color: red;
  font-size: 200%;
  margin-right: 12px;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
