.navBar {
  height: 60px;
  font-family: "Oxygen", sans-serif;
  display: flex;
  flex-direction: row;
  width: auto;

  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: var(--main-color);
}

.navLink {
  margin-left: 30px;
  font-size:20px;
  color: var(--main-grey);
}
.navLink:hover{
  color:white;
}

.navEnd {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-left: auto;
  width: 30%;
  align-items: center;
}

.progressBars {
  background-color: var(--main-dark);
  background: var(--main-dark);
  width: 200px;
  height: 30px;
  border-radius: 25px;
}

.loadingBars {
  background: var(--main-gold);
  width: 50%;
  height: 100%;
  border-radius: 25px;
  /* width: 30%; */
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  justify-content: start;
  align-items: center;
}

.coinIcon {
  margin-left: 10px;
  color: var(--main-gold);
}

.heartIcon {
  margin-right: 5px;
}
