@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

:root {
  --main-color: #437fc7;
  --secondary-blue: #7397bb;
  --light-blue: #2d84da;
  --main-secondary: #8bbae9;
  --main-gold: #e2b714;
  --main-white: #fdfbff;
  --main-grey: #dadee4;
  --main-dark: #040f1a;
}

h1 {
  color: var(--main-white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
