.unloggednavBar {
  height: 60px;
  font-family: "Oxygen", sans-serif;
  display: flex;
  flex-direction: row;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background-color: var(--main-color);
  position:sticky;
  top:0;
  
}

.navbar-Title{
  margin-left:60px;
  cursor:pointer;
}

.unloggedNavLink {
  margin-right: 22px;
  font-size:23px;
  
  color: white;
}
.unloggedNavLink:hover{
  color:var(--main-grey);
}

.unloggednavEnd {
  display: flex;
  flex-direction: row;
  
  margin-left: auto;
  width: 25%;
  justify-content:right;
}

.sign-up-button{
  outline:none;
  background-color:  var( --main-dark);
  font-size: 20px;
  color:white;
  border-radius: 60px;
  border-style: none;
  padding: 5px;
  padding-left:20px;
  padding-right:20px;
  
}
.sign-up-button:hover{
  background-color:var(--main-white);
  color:black;
  cursor: pointer;
  outline:none;
}
.sign-up-button:active{
  outline:none;
   background-color:  rgb(226, 224, 224);
}

